.recepie {
    padding: 20px 80px 20px 80px;
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: -4px !important;
}

.pictureCard {
    padding: 0;
}

.mat-card {
    border-radius: 10px; 
}

.actions {
    float: right;
    font-weight: 700;
} 
